{% extends "head.html" %}
{% block content %}
{% include "header.html" %}


<div class="container">
<h1>Edit {{item.name}}</h1>
    <form action="{{url_for('editItem', item_name = item.name)}}" method='POST'>
        <dl>
            <dt>Name:</dt>
                <dd><input type ='text' size='30' name='name'></dd>
            <dt>Description:</dt>
                <dd><textarea name='description' row='4'></textarea></dd>
            <dt>Category:</dt>
                <dd>
                    <select name="category">
                        {% for x in catalog%}
                        <option name="category" value="{{x.name}}">{{x.name}}</option>
                        {% endfor %}
                    </select>
                </dd>
        </dl>
    <input type='submit' value='Edit'>

    </form>
</div>

{% endblock %}
</body>




</html>