<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
	<h1>Catalog App</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Categories</h2>
				{% for x in catalog %}
					<p>{{x.name}}</p>
				{% endfor %}
			</div>
			<div class="col-md-6">
				<h2>Items</h2>
				{% for x in category %}
					<p>{{x.name}}</p>
					<p>{{x.id}}</p>
				{% endfor %}
			</div>
		</div>
	</div>


</body>

</html>