{% extends "head.html" %}
{% block content %}
{% include "header.html" %}

	<div class="container">
		<h2>{{category.name}}</h2>
		<div class="row">
			<div class="col-md-6">
				<h2>Categories</h2>
				{% for x in catalog %}
					<a href="{{ url_for('showCategory', category_name = x.name)}}">{{x.name}}</a>
					<br>
				{% endfor %}
			</div>
			<div class="col-md-6">
				<a href="{{url_for('createItem', category_name = category.name)}}">Create a new Item for {{category.name}}</a>
				<h2>Items</h2>
				{% for x in item %}
					<a href="{{ url_for('showItem', category_name = category.name, item_name = x.name)}}">{{x.name}}</a><br>
				{% endfor %}
			</div>
		</div>
	</div>

	{% endblock %}


</body>

</html>